body{
   
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    /* border: solid 3px red; */
    height: 100vh;
}
nav{
    display: flex;
    justify-content:space-between;
    height: 25%;
    letter-spacing:0.05em;
    border-bottom: 1px lightyellow;
    
}

.inline, span, .title{
    display: inline-block;
    
   
}
.inline{
    margin-left: 1em;
    color: lightgreen;
}

.line{
    color: rgb(164, 164, 164);
    font-size: 35px;
    font-weight: 100;
}

.title{
    position: relative;
    top: 0.5em;
}


/* Section 2 of navbar */

.section2, ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 1.5em;
    font-size: 1.1em;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: yellow;
    transition: 0.3s;
}

a:visited{
    color: rgb(82, 82, 85);
}

a:active{
    text-decoration: underline;
}

/* ALL CSS PROPERTIES for MAIN */


main{
    width: 90%;
    /* border: solid yellow 3px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    margin-left: 3em;
    height: 55vh;
    

}

.greeting{
    font-size: 1em;
}

.name{
    font-size: 2.6em;
    margin-left: 2;
}

.status{
    color: lightgreen;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.d-script{
    font-size: 1.0em;
    color: grey;
    font-weight: 100;
}

.butt-1{
    display: flex;
   justify-content: center;
    align-items: center;
    background-color: lightgreen;
    border-radius: 50%;
    width: 20%;
    height: 4em;
}
.butt-1 a{
   
    font-size: 1em;
    font-weight: 700;
}


img{
    width: 7%;
    border-radius: 50%;
    position: absolute;
    left: 23em;
    top: 1em;



}

main section p, h1, h2{
    margin: 1em;
    margin-left: 8px;
    margin-top: 1em;
     
}

/* css for contact.html*/
form{
    right: 8em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 30%;
    align-items: center;
    /* border: solid rgb(122, 216, 93) 4px; */
    height: 100%;
    background-color: rgb(26, 25, 25);
    border-radius: 12%;
    color: rgb(245, 222, 129);
  
}
 



form h3{
    text-shadow: lightyellow 1px 0 10px;

    
}

form input, button{
    background-color: transparent;
    color: lightgreen;
}

.main{
     /* border: solid rgb(122, 216, 93) 4px; */
     display: flex;
     justify-content: center;
     
}